<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <th>글번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>조회수</th>
        </thead>
        <tr th:each="list :${list}">
            <td th:text="${list.boardId}"></td>
            <td th:text="${list.name}"></td>
            <td>
                <a th:href="@{/board/view/{boardId}(boardId=${list.boardId})}" th:text="${list.title}">게시글 보기</a>
            </td>
            <td th:text="${list.read}"></td>
        </tr>
    </table>
</div>
</body>
</html>
